.button {
  display: inline-block;
  color: #f7f7f7;
  background-color: #e44848;
  padding: 16px 48px;
  border-radius: 200px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  line-height: 150%;

  letter-spacing: -0.08px;
}
