.button {
  align-self: flex-start;
  color: #f7f7f7;
  background-color: #e44848;
  padding: 16px;

  min-width: 166px;
  border-radius: 200px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.08px;

  &:hover {
    background-color: rgba(216, 67, 67, 1);
  }
}
