.hero {
  max-width: 1440px;
  padding: 260px 0 260px 64px;
  margin: 0 auto;
  background-image: url('./../../images/Picture.jpg'),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #f7f7f7;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1.6px;
}

.subTitle {
  color: #f7f7f7;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.45px;
}

.button {
  min-width: 173px;
}
