.hero {
  max-width: 1440px;
  padding: 260px 0 260px 64px;
  background-image: url('./../../images/Picture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  outline: 1px solid red;
}

.title {
  color: #f7f7f7;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1.6px;
}

.subTitle {
  color: #f7f7f7;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.45px;
}

.logo {
}

.button {
  min-width: 173px;
}
