.catalog {
  background-color: #fff;
  display: flex;
  gap: 64px;
  padding: 48px 64px 52px 64px;
  max-width: 1440px;
  margin: 0 auto;
}

.loadMore {
  display: block;
  align-self: flex-start;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  margin: 0 auto;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  &:hover {
    border-color: rgba(216, 67, 67, 1);
  }
}
.formWrapper {
  width: 360px;
}
