.section {
  padding-top: 48px;
  padding-bottom: 52px;
}

.sectionWrapper {
  display: flex;
  gap: 64px;
}

.formWrapper {
  max-width: 360px;
  /* width: 360px; */
}

.cardsWrapper {
  max-width: 888px;
}

.loadMore {
  display: block;
  align-self: flex-start;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  margin: 0 auto;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  &:hover {
    border-color: rgba(216, 67, 67, 1);
  }
}

/* 
.catalog {
  background-color: #fff;
  display: flex;
  gap: 64px;
  padding: 48px 64px 52px 64px;
  max-width: 1440px;
  margin: 0 auto;
} */

/* .cardsWrapper {
  background-color: yellow;
  padding: 50px;
}

.loaderWrapper {
  width: 100%;
  background-color: green;
  padding-left: 200px;
} */
