.header {
  padding: 0 64px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  color: rgba(242, 244, 247, 1);
  outline: 1px solid red;
  margin: 0 auto;
}

.logo {
  margin-right: 450px;
}

.list {
  display: flex;
  gap: 32px;
  color: #101828;
  font-weight: 500;
}

.listItem {
  padding: 24px 0;
}
