.header {
  display: flex;
  align-items: center;

  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;

  background-color: var(--secondary-background-color);
}

.logo {
  padding: 20px 0;
  margin-right: 450px;
  transform: scale(1);
  transition: transform 250ms;
}

.logo:hover {
  transform: scale(1.2);
}

.nav {
  display: flex;
  gap: 32px;
}

.nav_link {
  padding: 24px 0;

  font-weight: 500;

  transition: color 250ms;

  &:hover,
  &:focus {
    color: var(--button-hover-color);
  }
}

.active {
  color: var(--button-hover-color);
}
