.camperSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 0 80px;
}

.imgWrapper {
  width: 292px;
  height: 320px;
  background-color: lightslategray;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.list {
  display: flex;
  gap: 48px;
}

.reviewsWrapper {
  display: flex;
  gap: 16px;
  line-height: 24px;
}
